$main_color: rgb(0, 255, 13);
$light_color: white;
$dark_color: black;
$medium_color: #979797;
$bg_image: url("../img/abstract-technology-particle-background_52683-25766.jpg");
.btn {
  list-style: none;
  text-align: center;
  a {
    text-decoration: none;
    text-align: center;
    color: black;
    opacity: 1;
    z-index: 1;
  }
}
